// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Device Tree file for the Kontron KSwitch D10 MMT 6G-2GS
 */

/dts-v1/;
#include "lan966x.dtsi"
#include "dt-bindings/phy/phy-lan966x-serdes.h"

/ {
	model = "Kontron KSwitch D10 MMT 6G-2GS";
	compatible = "kontron,kswitch-d10-mmt-6g-2gs", "kontron,s1921",
		     "microchip,lan9668", "microchip,lan966";

	aliases {
		serial0 = &usart0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	gpio-restart {
		compatible = "gpio-restart";
		gpios = <&gpio 56 GPIO_ACTIVE_LOW>;
		priority = <200>;
	};

	i2cmux {
		compatible = "i2c-mux-gpio";
		#address-cells = <1>;
		#size-cells = <0>;
		mux-gpios = <&sgpio_out 3 2 GPIO_ACTIVE_HIGH>,
			    <&sgpio_out 3 3 GPIO_ACTIVE_HIGH>;
		i2c-parent = <&i2c4>;

		i2c4_0: i2c@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;
		};

		i2c4_1: i2c@2 {
			reg = <2>;
			#address-cells = <1>;
			#size-cells = <0>;
		};
	};

	sfp0: sfp0 {
		compatible = "sff,sfp";
		i2c-bus = <&i2c4_0>;
		los-gpios = <&sgpio_in 1 0 GPIO_ACTIVE_HIGH>;
		mod-def0-gpios = <&sgpio_in 1 1 GPIO_ACTIVE_LOW>;
		maximum-power-milliwatt = <2500>;
		tx-disable-gpios = <&sgpio_out 3 0 GPIO_ACTIVE_LOW>;
		tx-fault-gpios = <&sgpio_in 0 2 GPIO_ACTIVE_HIGH>;
		rate-select0-gpios = <&sgpio_out 2 0 GPIO_ACTIVE_HIGH>;
		rate-select1-gpios = <&sgpio_out 2 1 GPIO_ACTIVE_HIGH>;
	};

	sfp1: sfp1 {
		compatible = "sff,sfp";
		i2c-bus = <&i2c4_1>;
		los-gpios = <&sgpio_in 1 2 GPIO_ACTIVE_HIGH>;
		mod-def0-gpios = <&sgpio_in 1 3 GPIO_ACTIVE_LOW>;
		maximum-power-milliwatt = <2500>;
		tx-disable-gpios = <&sgpio_out 3 1 GPIO_ACTIVE_LOW>;
		tx-fault-gpios = <&sgpio_in 0 3 GPIO_ACTIVE_HIGH>;
		rate-select0-gpios = <&sgpio_out 2 2 GPIO_ACTIVE_HIGH>;
		rate-select1-gpios = <&sgpio_out 2 3 GPIO_ACTIVE_HIGH>;
	};
};

&cuphy0 {
	status = "okay";
};

&cuphy1 {
	status = "okay";
};

&flx0 {
	atmel,flexcom-mode = <ATMEL_FLEXCOM_MODE_USART>;
	status = "okay";
};

&flx3 {
	atmel,flexcom-mode = <ATMEL_FLEXCOM_MODE_SPI>;
	status = "okay";
};

&flx4 {
	atmel,flexcom-mode = <ATMEL_FLEXCOM_MODE_TWI>;
	status = "okay";
};

&gpio {
	usart0_pins: usart0-pins {
		/* RXD, TXD */
		pins = "GPIO_25", "GPIO_26";
		function = "fc0_b";
	};

	sgpio_a_pins: sgpio-a-pins {
		/* SCK, D0, D1, LD */
		pins = "GPIO_32", "GPIO_33", "GPIO_34";
		function = "sgpio_a";
	};

	sgpio_b_pins: sgpio-b-pins {
		/* SCK, D0, D1, LD */
		pins = "GPIO_64";
		function = "sgpio_b";
	};

	fc3_b_pins: fc3-b-spi-pins {
		/* SCK, MISO, MOSI */
		pins = "GPIO_51", "GPIO_52", "GPIO_53";
		function = "fc3_b";
	};

	fc4_b_pins: fc4-b-i2c-pins {
		/* RXD, TXD */
		pins = "GPIO_57", "GPIO_58";
		function = "fc4_b";
	};

	miim_c_pins: miim-c-pins {
		/* MDC, MDIO */
		pins = "GPIO_59", "GPIO_60";
		function = "miim_c";
	};
};

&i2c4 {
	pinctrl-0 = <&fc4_b_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&mdio0 {
	pinctrl-0 = <&miim_c_pins>;
	pinctrl-names = "default";
	reset-gpios = <&gpio 29 GPIO_ACTIVE_LOW>;
	status = "okay";

	phy0: ethernet-phy@5 {
		reg = <5>;
	};

	phy1: ethernet-phy@6 {
		reg = <6>;
	};

	phy2: ethernet-phy@7 {
		reg = <7>;
	};

	phy3: ethernet-phy@8 {
		reg = <8>;
	};
};

&mdio1 {
	status = "okay";
};

&port0 {
	phys = <&serdes 0 CU(0)>;
	phy-handle = <&cuphy0>;
	phy-mode = "gmii";
	status = "okay";
};

&port1 {
	phys = <&serdes 1 CU(1)>;
	phy-handle = <&cuphy1>;
	phy-mode = "gmii";
	status = "okay";
};

&port2 {
	phys = <&serdes 2 SERDES6G(0)>;
	sfp = <&sfp0>;
	managed = "in-band-status";
	phy-mode = "sgmii";
	status = "okay";
};

&port3 {
	phys = <&serdes 3 SERDES6G(1)>;
	sfp = <&sfp1>;
	managed = "in-band-status";
	phy-mode = "sgmii";
	status = "okay";
};

&port4 {
	phys = <&serdes 4 SERDES6G(2)>;
	phy-handle = <&phy0>;
	phy-mode = "qsgmii";
	status = "okay";
};

&port5 {
	phys = <&serdes 5 SERDES6G(2)>;
	phy-handle = <&phy1>;
	phy-mode = "qsgmii";
	status = "okay";
};

&port6 {
	phys = <&serdes 6 SERDES6G(2)>;
	phy-handle = <&phy2>;
	phy-mode = "qsgmii";
	status = "okay";
};

&port7 {
	phys = <&serdes 7 SERDES6G(2)>;
	phy-handle = <&phy3>;
	phy-mode = "qsgmii";
	status = "okay";
};

&sgpio {
	pinctrl-0 = <&sgpio_a_pins>, <&sgpio_b_pins>;
	pinctrl-names = "default";
	bus-frequency = <8000000>;
	/* arbitrary range because all GPIOs are in software mode */
	microchip,sgpio-port-ranges = <0 11>;
	status = "okay";
};

&sgpio_in {
	ngpios = <128>;
};

&sgpio_out {
	ngpios = <128>;
};

&spi3 {
	pinctrl-0 = <&fc3_b_pins>;
	pinctrl-names = "default";
	cs-gpios = <&gpio 46 GPIO_ACTIVE_LOW>;
	status = "okay";
};

&switch {
	status = "okay";
};

&usart0 {
	pinctrl-0 = <&usart0_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&watchdog {
	status = "okay";
};
